@import "../styles/colors.module.scss";

.input {
  background-color: $primary-dark-800;
  border-radius: 4px;
  border: none;
  color: $primary-dark-100;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 15px;

  &::placeholder {
    color: $primary-dark-500;
  }

  &:focus,
  &:active {
    outline: none;
  }
}
